html {
	box-sizing: border-box;
  font-size: calc(100% + 6 * (100vw - 20em) / 1600);
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #111;
	color: white;
	font: 400 1em/1.5 'Avenir', sans-serif;
	font-feature-settings: 'clig', 'calt', 'kern', 'liga';
	font-variant: common-ligatures;

	display: flex;
	flex-flow: column nowrap;

	margin: 0;
}

body > * {
	flex: 1;
	min-height: 90vh;
	max-width: 100%;
}

h1, h2, h3, h4 {
	color: gainsboro;
}

h1 {
	font-size: 4.22222222em;
	line-height: 1.06578947;
	margin-top: 0.35526316em;
	margin-bottom: 0.71052632em;
}

h2 {
	font-size: 2.61111111em;
	line-height: 1.14893617;
	margin-top: 0.57446809em;
	margin-bottom: 0.57446809em;
}

h3 {
	font-size: 1.61111111em;
	line-height: 1.2;
	margin-top: 0.93103448em;
	margin-bottom: 0em;
}

h4, h5 {
	font-size: 1em;
	line-height: 1.5;
	margin-top: 1.5em;
	margin-bottom: 0em;
}

h5 {
	color: white;
}

a {
	color: gainsboro;
	transition: color 120ms ease-in-out;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #0ebeff;
}

a:active {
	color: gainsboro;
}

a:visited {
	color: gainsboro;
}

header {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	padding: 10vw 10vw 0;
}

nav {
	background-color: gainsboro;
	position: fixed;
	bottom: 0;
	min-height: 3em;
	padding: 0 10vw;
	width: 100%;
}

nav ul {
	min-height: auto;
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	padding: 0;
}

nav li {
	margin-right: 3vw;
}

nav li:last-of-type {
	margin-right: 0;
}

nav a,
nav a:active,
nav a:visited {
	color: #222;
}

#collection {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 4rem;
}

#collection article {
	flex: 0 calc(50% - 4rem);
	margin: 2rem;
	transition: flex 250ms 200ms linear;
	padding: 0;
	position: relative;
}

#collection article a {
	color: white;
}

#collection article a::before {
	content: '';
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}

#collection article img {
	max-width: 100%;
	display: block;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.blur {
	filter: blur(.25em);
	transition: all 120ms ease-in-out;
	transform: scale(1.05);
}

.no-blur {
	filter: blur(0);
	transform: scale(1);
}
